.div1 {
  text-align: center;
}

.header {
  text-align: center;
  align-items: center;
  width: 400px;
  margin-left: 35%;
}

.div2 {
margin-left: 35%;
width: 400px;
position: relative;
border: 1px solid;

}

.title {
display: inline-block;
position: absolute;
left: 2px;
top: 0;
}

.date {
  display: inline-block;
  position: absolute;
  right: -300px;
  top: 0;

}

img {
  width: 100%;
  padding-top: 50px;
  height: 310px;
  position: relative;
 
}

.pie {
  text-align: center;
  padding-top: 1px;
  position: absolute;
  border: 1px solid;
  right: -1px;
  width: 400px;
  }

.div3 {
  margin-left: 35%;
  width: 400px;
  position: relative;
  border: 1px solid;
  top: 200px;
  }
  
  .title2 {
  display: inline-block;
  position: absolute;
  left: 2px;
  }
  
  .date2 {
    display: inline-block;
      position: absolute;
      right: -290px;
      bottom: 0px;
      }
  
  
  
  .pie2 {
    text-align: center;
    position: absolute;
    border: 1px solid;
    top: 360px;
    height: 59px;
    right: -1px;
    width: 400px;
  }

  .div4 {
    margin-left: 35%;
    width: 400px;
    position: relative;
    border: 1px solid;
    top: 350px;
    }
    
    .title3 {
    display: inline-block;
    position: absolute;
    left: 2px;
    }
    
    .date3 {
      display: inline-block;
        position: absolute;
        right: -224px;
        bottom: 0px;
        }
  
    
    .pie3 {
      text-align: center;
      position: absolute;
      border: 1px solid;
      top: 360px;
      height: 59px;
    right: -1px;
    width: 400px;
    }

    .div5 {
      margin-left: 35%;
      width: 400px;
      position: relative;
      border: 1px solid;
      top: 500px;
      }
      
      .title4 {
      display: inline-block;
      position: absolute;
      left: 2px;
      }
      
      .date4 {
        display: inline-block;
          position: absolute;
          right: -255px;
          bottom: 0px;
          }
      
     
      
      .pie4 {
        text-align: center;
        position: absolute;
        border: 1px solid;
        top: 360px;
        height: 59px;
    right: -1px;
    width: 400px;
      }
